*.json
*.png
*.jpg
*.pth
*.csv
*.txt
*.safetensors
wandb/*
ha_dpo/data/VG/*
ha_dpo/data/lubal_sed_training/*
ha_dpo/data/lubal_sed_testing/*
ha_dpo/data/POPE/
ha_dpo/data/POPE/*
*.png
*.jpg
*.zip
**__pycache__**
**.ipynb_checkpoints
